<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>MeteoroidTitleCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Wallpaper Options</string>
		</dict>
		<dict>
	    <key>cell</key>
	    <string>PSLinkListCell</string>
	    <key>default</key>
	    <string>Lockscreen</string>
	    <key>defaults</key>
	    <string>com.jeffresc.meteoroidprefs</string>
	    <key>key</key>
	    <string>wallpaperMode</string>
	    <key>label</key>
	    <string>Wallpaper Location</string>
	    <key>detail</key>
	    <string>PSListItemsController</string>
			<key>validTitles</key>
			<array>
				<string>Both</string>
				<string>Homescreen</string>
				<string>Lockscreen</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
			<key>PostNotification</key>
			<string>com.jeffresc.meteoroidprefs-loadPrefs</string>
		</dict>
		<dict>
	    <key>cell</key>
	    <string>PSLinkListCell</string>
	    <key>default</key>
	    <string>Parallax Disabled</string>
	    <key>defaults</key>
	    <string>com.jeffresc.meteoroidprefs</string>
	    <key>key</key>
	    <string>parallax</string>
	    <key>label</key>
	    <string>Parallax</string>
	    <key>detail</key>
	    <string>PSListItemsController</string>
			<key>validTitles</key>
			<array>
				<string>Parallax Disabled</string>
				<string>Parallax Enabled</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
			<key>PostNotification</key>
			<string>com.jeffresc.meteoroidprefs-loadPrefs</string>
		</dict>
		<dict>
	    <key>cell</key>
	    <string>PSLinkListCell</string>
	    <key>default</key>
	    <string>NASA (IOTD)</string>
	    <key>defaults</key>
	    <string>com.jeffresc.meteoroidprefs</string>
	    <key>key</key>
	    <string>imageSource</string>
	    <key>label</key>
	    <string>Set Image Source</string>
	    <key>detail</key>
	    <string>PSListItemsController</string>
			<key>validTitles</key>
			<array>
				<string>NASA (Image of the Day)</string>
				<string>NASA (Earth Observatory)</string>
				<string>NASA (Astronomy Picture of the Day)</string>
				<string>SpaceX Flickr</string>
				<string>NASA HQ Flickr</string>
				<string>NASA JPL Flickr</string>
				<string>NASA Johnson Flickr</string>
				<string>NASA Kennedy Flickr</string>
				<string>NASA Goddard Flickr</string>
				<string>NASA Marshall Flickr</string>
			</array>
			<key>validValues</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
				<string>9</string>
				<string>10</string>
			</array>
			<key>PostNotification</key>
			<string>com.jeffresc.meteoroidprefs-loadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Timer</string>
			<key>footerText</key>
			<string>Choose what time for the wallpaper to be updated. It can take up to an hour for the wallpaper to update due to limitations. Choose a time where your deivce is usually connected to an unmetered connection. For more advanced options, see the "Advanced Use Cases" section on the package depiction page.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.jeffresc.meteoroidprefs</string>
			<key>key</key>
			<string>timerEnabled</string>
			<key>label</key>
			<string>Set Timer Options</string>
			<key>default</key>
			<string>Timer Disabled</string>
			<key>validTitles</key>
			<array>
				<string>Timer Disabled</string>
				<string>Timer Enabled</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
			<key>id</key>
			<string>ModeCell</string>
			<key>PostNotification</key>
			<string>com.jeffresc.meteoroidprefs-loadPrefs</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>MTimePickerCell</string>
			<key>PostNotification</key>
			<string>com.jeffresc.meteoroidprefs-loadPrefs</string>
			<key>height</key>
			<real>100</real>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Actions</string>
			<key>footerText</key>
			<string>Select an action above to manage wallpaper actions.</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openCurrentImageSource</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Open Current Wallpaper</string>
		</dict>
		<dict>
			<key>action</key>
			<string>updateSpaceImage</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Manually Update Wallpaper</string>
		</dict>
		<dict>
			<key>action</key>
			<string>saveImage</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Save Wallpaper(s)</string>
		</dict>
		<dict>
			<key>label</key>
			<string>View Image Sources</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>NASA (Image of the Day)</string>
			<key>action</key>
			<string>NASA_IOTD_Link</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>NASA (Earth Observatory)</string>
			<key>action</key>
			<string>NASA_EO_Link</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>NASA (Astronomy Picture of the Day)</string>
			<key>action</key>
			<string>NASA_APoD_Link</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>SpaceX Flickr</string>
			<key>action</key>
			<string>Flickr_SpaceX_Link</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>NASA HQ Flickr</string>
			<key>action</key>
			<string>Flickr_NASA_HQ_Link</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>NASA JPL Flickr</string>
			<key>action</key>
			<string>Flickr_NASA_JPL</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>NASA Johnson Flickr</string>
			<key>action</key>
			<string>Flickr_NASA_Johnson_Link</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>NASA Kennedy Flickr</string>
			<key>action</key>
			<string>Flickr_NASA_Kennedy_Link</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>NASA Goddard Flickr</string>
			<key>action</key>
			<string>Flickr_NASA_Goddard_Link</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>NASA Marshall Flickr</string>
			<key>action</key>
			<string>Flickr_NASA_Marshall_Link</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>About</string>
		</dict>
		<dict>
			<key>big</key>
			<true/>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>height</key>
			<integer>56</integer>
			<key>label</key>
			<string>Jeff Rescignano</string>
			<key>user</key>
			<string>JeffRescignano</string>
			<key>action</key>
			<string>Twitter_Profile_Link</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Visit My Website 🌐</string>
			<key>action</key>
			<string>Website_Link</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate ❤️</string>
			<key>action</key>
			<string>PayPal_Donate_Link</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Source Code 📁</string>
			<key>action</key>
			<string>GitHub_Source_Code_Link</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Package Information ℹ️</string>
			<key>action</key>
			<string>Dynastic_Depiction_Page_Link</string>
		</dict>
	</array>
	<key>title</key>
	<string>Meteoroid</string>
</dict>
</plist>
