Package: com.jeffresc.meteoroid
Name: Meteoroid
Depends: mobilesubstrate
Version: 1.0.4
Architecture: iphoneos-arm
Description: Set your wallpaper from various NASA sources
Maintainer: JeffResc <jeff@jeffresc.dev>
Author: JeffResc <jeff@jeffresc.dev>
Section: Tweaks
