Package: com.jeffresc.meteoroid
Name: Meteoroid
Depends: mobilesubstrate, firmware (>=11.0), ws.hbang.common (>= 1.14)
Version: 2.0
Architecture: iphoneos-arm
Description: Set your wallpaper from various NASA sources
Maintainer: JeffResc <jeff@jeffresc.dev>
Author: JeffResc <jeff@jeffresc.dev>
Section: Tweaks
